services:
  - type: web
    name: samplit-platform
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: POETRY_VERSION
        value: 1.6.1
      - key: WEB_CONCURRENCY
        value: 2
    autoDeploy: false
    plan: free
